work
Library/*
Applications/*
Desktop
Downloads
Pictures/*
Music/*
Movies/*
Public/*
Documents
VirtualBox VMs/*
Scans/*
Local Sites/*
intelephense/*
OneDrive*
OrbStack

# ignore keys and keychains
*.xdb
key*

# ignore dotfiles
.*
!.config
.config/*
!.local
.local/*
!.local/share
.local/share/*
!.Brewfile

# ... except for whitelisted ones
!.dircolors
!.zshrc
!.zfunc
!.aliases
!.iterm2

# ... except neovim config
!.config/nvim
!.config/nvim/**
.config/nvim/plugin/packer_compiled.lua

# ... except ghostty config
!.config/ghostty
!.config/ghostty/**

# ... except kitty config
!.config/kitty
!.config/kitty/**

# ... except git config
!.config/git
!.config/git/**

# ... except launchd config
!.local/share/darwin
!.local/share/darwin/**

# ... except bat config
!.config/bat
!.config/bat/**

# ... except for fonts
!.local/share/fonts
!.local/share/fonts/**
