work
Library/*
Applications/*
Desktop/*
Downloads/*
Pictures/*
Music/*
Movies/*
Public/*
Documents/*
VirtualBox VMs/*

*.xdb
key.*

# Ignore all dotfiles ...
.*

# ... except for whitelisted ones
!.bashrc.d
!.hooks
!.iterm2
!.vim

!.aliases
!.bashrc
!.dircolors
!.gitconfig
!.gitignore-global
!.profile
!.vimrc
